/*GLOBAL STYLES*/

/*HEADER, MAIN AND FOOTER BY OM TEAM 1-26-16*/


body {
    background:url(images/background22.jpg) no-repeat center center fixed; 
    background-size: cover;
    margin:0;
    padding:0;
}

.displayed { 
    display: block;
    height: 350;
    width:150;
    margin-left: auto;
    margin-right: auto;
}

.expand {
    display: block;
    height: 600;
    width:325;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align:center;
    color:rgb(158, 7, 4);
    font-family:'impact', sans-serif;
    font-size: 72px;
}

h4 {
    text-align:center;
    color: #cbcc00;
    font-family:'Helvetica', sans-serif;
    font-size: 24px;
}

p {
    text-align:center;
    color: #d9d9d9;
    font-family:'Helvetica', sans-serif;
    font-size: 20px; 
}
footer {
    color:#000;
    font-family:Helvetica, sans-serif;
    font-size:12px;
}

.button-large {
    font-size:32px;
    padding:15px 27px;
}
.button {
    font: 72px Helvetica, Arial, sans-serif;
    padding: 24px 37px;
    text-decoration:none;
    border-radius: 25%;
    margin: 10px 500px 10px 500px;
    display:block;
    text-align:center;
}

.button-primary {
    background-color:rgb(158, 7, 6);
    color:#FFF;
}

.button-primary:hover {
    background-color:#ff0000;
}
